RewriteEngine On

Redirect 301 "/Robots.txt" "/robots.txt"
Redirect 301 "/Sitemap.xml" "/sitemap.xml"

Header add Set-Cookie: "cross-site-cookie=name; SameSite=None; Secure"
Header add X-Clacks-Overhead: "GNU Eddison the Magic Doggo"
Header add Clacks-Overhead: "GNU Eddison the Magic Doggo"
Header add X-Powered-by: "Magic &amp; the Distraction Squad"


RewriteRule ^discord/(.*)$ https://discord.gg/q3aFBQM?ref=assistantNMS [R=301,NC,L]
RewriteRule ^discordbot/(.*)$ https://discord.com/api/oauth2/authorize?client_id=640818571164778496&permissions=2147762240&scope=bot%20applications.commands&ref=assistantNMS [R=301,NC,L]
RewriteRule ^github/(.*)$ https://github.com/AssistantNms?ref=assistantNMS [R=301,NC,L]
RewriteRule ^kurt/(.*)$ https://kurtlourens.com?ref=assistantNMS [R=301,NC,L]
RewriteRule ^patreon/(.*)$ https://www.patreon.com/AssistantApps?ref=assistantNMS [R=301,NC,L]
