@charset "UTF-8";
.hidden-till-loaded {
  transition: opacity 100ms ease-in-out;
}

.is-loading .hidden-till-loaded {
  opacity: 0;
  position: absolute;
}

.button-primary,
.button-secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 32px;
  border-radius: 80px;
  transition: all 350ms ease;
  line-height: 20px;
  font-weight: light;
  text-decoration: none;
}
.button-primary:hover,
.button-secondary:hover {
  transform: translate(0px, -3px);
}
.button-primary img,
.button-secondary img {
  max-width: 30px;
  margin-right: 10px;
}

.button-primary {
  background-color: #7986cb;
  color: #fff;
}
.button-primary:hover {
  background-color: #5465bd;
  color: #fff;
}

.button-secondary {
  background-color: #80cbc4;
  color: #1f212a;
}
.button-secondary:hover {
  background-color: #5cbcb3;
  color: #1f212a;
}

.button-primary.fit,
.button-secondary.fit {
  display: inline-block;
  border-radius: 30px;
}

.section.hero {
  z-index: 1;
}
@media screen and (max-width: 1500px) {
  .section.hero {
    padding-top: 80px;
  }
}

#landing-hero {
  z-index: 1;
}
#landing-hero .app-icon {
  border-radius: 1em;
  max-width: 76px;
}
#landing-hero h1 {
  white-space: nowrap;
}
#landing-hero .store-links-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  padding-right: 2em;
}
#landing-hero .store-download-button {
  margin-top: 0.5em;
  margin-right: 0.5em;
  transition: transform 350ms ease;
}
#landing-hero .store-download-button:hover {
  transform: translate(0px, -5px);
}

.hero-img-stack {
  position: relative;
  text-align: center;
}
.hero-img-stack .hero-image,
.hero-img-stack .hero-image-cm,
.hero-img-stack .hero-image-qs {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 70vh;
  z-index: 1;
}
.hero-img-stack .hero-image img,
.hero-img-stack .hero-image-cm img,
.hero-img-stack .hero-image-qs img {
  max-height: 70vh;
}
.hero-img-stack .hero-image img.main-hero-img,
.hero-img-stack .hero-image-cm img.main-hero-img,
.hero-img-stack .hero-image-qs img.main-hero-img {
  position: absolute;
  top: 0;
  left: 0;
}
.hero-img-stack .hero-image-bg {
  width: 100%;
  padding: 2em;
}
.hero-img-stack .hero-image {
  transform: translate(-40%, -50%) rotate3d(-1, 4, 5, 347deg) skew(346deg, 11deg) !important;
  z-index: 2;
}
.hero-img-stack .hero-image .hero-image-bg-offset {
  margin-top: 0.2em;
  margin-left: 0.5em;
}
.hero-img-stack .hero-image-cm {
  transform: translate(-65%, -40%) rotate3d(-1, 4, 5, 347deg) skew(346deg, 11deg) !important;
  z-index: 3;
}
.hero-img-stack .hero-image-qs {
  transform: translate(-75%, -40%) rotate3d(-1, 4, 5, 347deg) skew(346deg, 11deg) !important;
  z-index: 4;
}

.basic-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.grid-logos {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  align-items: center;
}
.grid-logos .badge-wrapper {
  padding: 20px;
  transition: transform 350ms ease;
}
.grid-logos .badge-wrapper:hover {
  transform: translate(0px, -0.5em);
}
.grid-logos .badge-wrapper img {
  width: 134px;
}

.feature-img-stack {
  position: relative;
  text-align: center;
  height: 100%;
}
.feature-img-stack:hover .feature-image-1,
.feature-img-stack:hover .feature-image-2,
.feature-img-stack:hover .feature-image-3 {
  opacity: 0;
}
.feature-img-stack .feature-image img,
.feature-img-stack .feature-image-1,
.feature-img-stack .feature-image-2,
.feature-img-stack .feature-image-3 {
  position: absolute;
  top: 0%;
  left: 50%;
  max-height: calc(100% + 100px);
  z-index: 1;
  overflow: hidden;
  transition: opacity 500ms ease-in-out;
  will-change: opacity;
}
.feature-img-stack .feature-image img img,
.feature-img-stack .feature-image-1 img,
.feature-img-stack .feature-image-2 img,
.feature-img-stack .feature-image-3 img {
  max-height: calc(100% + 100px);
}
.feature-img-stack .feature-image img {
  left: 60%;
  transform: translate(-25%, -100px) rotate3d(-1, 4, 5, 347deg) skew(346deg, 11deg) !important;
  z-index: 2;
}
.feature-img-stack .feature-image .feature-image-bg-offset {
  margin-top: 0.2em;
  margin-left: 0.4em;
}
.feature-img-stack .feature-image.alt img {
  left: 40%;
  transform: translate(-70%, -100px) rotate3d(1, -14, -6, 17deg) skew(-2deg, 7deg) !important;
}
.feature-img-stack .feature-image.alt .feature-image-bg-offset {
  margin-left: -0.4em;
}
.feature-img-stack .feature-image-1 {
  transform: translate(-40%, -15%) rotate3d(-1, 4, 5, 347deg) skew(346deg, 11deg) !important;
  z-index: 3;
}
.feature-img-stack .feature-image-1.alt {
  transform: translate(-30%, -15%) rotate3d(1, -14, -6, 17deg) skew(-2deg, 7deg) !important;
}
.feature-img-stack .feature-image-2 {
  transform: translate(-30%, -15%) rotate3d(-1, 4, 5, 347deg) skew(346deg, 11deg) !important;
  z-index: 4;
}
.feature-img-stack .feature-image-2.alt {
  transform: translate(-30%, -15%) rotate3d(1, -14, -6, 17deg) skew(-2deg, 7deg) !important;
}
.feature-img-stack .feature-image-3 {
  transform: translate(-30%, -15%) rotate3d(-1, 4, 5, 347deg) skew(346deg, 11deg) !important;
  z-index: 5;
}
.feature-img-stack .feature-image-3.alt {
  transform: translate(-30%, -15%) rotate3d(1, -14, -6, 17deg) skew(-2deg, 7deg) !important;
}

footer.footer .container {
  display: flex;
  flex-wrap: wrap;
}
footer.footer .container .col {
  flex-grow: 1;
  padding: 0 2em;
}
footer.footer .container .col h4.pl {
  padding-left: 0.25em;
}
footer.footer .container .col a {
  text-decoration: none;
}
footer.footer .container .col.powered-by {
  max-width: 80vw;
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  footer.footer .container .col {
    padding: 0 1em;
  }
  footer.footer .container .col.powered-by {
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 700px) {
  footer.footer .container {
    display: block;
  }
  footer.footer .container .col.powered-by {
    max-width: 520px;
    margin-bottom: unset;
    overflow: hidden;
  }
  footer.footer .container h4,
footer.footer .container a {
    text-align: center;
  }
}
footer.footer .powered-by-card {
  width: unset;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
}
.navbar-logo img {
  max-width: 50px;
  margin-right: 0.5em;
  border-radius: 0.5em;
}

.navbar-mobile {
  padding: 0 16px;
  margin: 28px 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  height: 2em;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: none;
  z-index: 999;
}
.navbar-mobile:focus {
  outline: none;
}
.navbar-mobile .burger-menu {
  border-radius: 1em;
  transition: width 200ms ease-out, height 0.3s linear, transform 0.3s linear, opacity 300ms linear;
  position: relative;
  transform-origin: 1px;
  height: 9px;
}
.navbar-mobile .burger-menu span {
  background: #ffffff;
  height: 5px;
  display: block;
  margin: 2px 0;
  border-radius: 5px;
}
.navbar-mobile .burger-menu:nth-child(2) {
  transform: rotate(0);
  width: 2em;
}
.navbar-mobile .burger-menu:nth-child(3) {
  width: 2em;
}
.navbar-mobile .burger-menu:nth-child(4) {
  transform: rotate(0);
  width: 2em;
}
.navbar-mobile input {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
.navbar-mobile input:checked ~ .burger-menu:nth-child(3) {
  transform: rotate(45deg);
}
.navbar-mobile input:checked ~ .burger-menu:nth-child(4) {
  width: 0;
}
.navbar-mobile input:checked ~ .burger-menu:nth-child(5) {
  transform: rotate(-45deg);
}
.navbar-mobile input:checked ~ .navbar-content {
  transform: translateX(-100vw);
}
.navbar-mobile .navbar-content {
  position: fixed;
  display: block;
  top: 0;
  left: 100vw;
  width: calc(100vw - 4em);
  height: 100vh;
  padding: 2em;
  border-radius: 1em;
  background-color: #34395b;
  transition: transform 0.3s linear;
}

.mega-menu-container {
  position: absolute;
  top: -1em;
  left: 0%;
  bottom: auto;
  display: flex;
  padding: 34px 32px;
  border-style: solid;
  border-width: 1px;
  border-color: #1f212a;
  border-radius: 12px;
  background-color: #34395b;
  box-shadow: 0 5px 2px 0 rgba(67, 75, 235, 0.04), 0 10px 5px 0 rgba(67, 75, 235, 0.01), 0 16px 10px 0 rgba(67, 75, 235, 0.02), 0 24px 17px 0 rgba(67, 75, 235, 0.04);
  z-index: 1000;
}

.header-dropdown {
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}
.header-dropdown .dropdown-icon {
  transition: transform 250ms ease-in-out;
}
.header-dropdown .dropdown-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 250ms ease-in-out;
  pointer-events: none;
}
.header-dropdown .dropdown-list {
  position: absolute;
  display: block;
  transition: opacity 250ms ease-in-out;
  pointer-events: none;
  opacity: 0;
  z-index: 1002;
}
.header-dropdown .dropdown-list.open {
  opacity: 1;
  pointer-events: all;
}
.header-dropdown input {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
.header-dropdown input:checked {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}
.header-dropdown input:checked ~ .dropdown-list {
  opacity: 1;
  pointer-events: all;
}
.header-dropdown input:checked ~ .dropdown-overlay {
  opacity: 1;
  pointer-events: all;
}
.header-dropdown input:checked ~ .header-dropdown-toggle .dropdown-icon {
  transform: rotate(180deg);
}

.menu-column {
  margin-right: 2em;
}
.menu-column .mega-menu-title {
  margin: 0 0 0.5em 0;
}
.menu-column .menu-section-content a {
  display: block;
  color: #80cbc4;
  text-decoration: none;
}
.menu-column .menu-section-content a:before {
  content: "• ";
}
.menu-column .menu-section-content a[disabled] {
  opacity: 0.5;
  font-style: italic;
}

#testimonials.section {
  background-color: #7986cb;
}
#testimonials.section .testimonial-details {
  display: flex;
  align-items: center;
  width: 100%;
}
#testimonials.section .testimonial-details .testimonial-avatar {
  margin-right: 1em;
  height: 3.5em;
}
#testimonials.section .testimonial-details .testimonial-author {
  display: flex;
  flex-direction: column;
}
#testimonials.section .testimonial-details .testimonial-author .testimonial-name {
  margin: 0;
  margin-top: 5px;
  color: #19163a;
}
#testimonials.section .grid-testimonial {
  grid-column-gap: 100px;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: auto;
}
@media screen and (max-width: 991px) {
  #testimonials.section .grid-testimonial {
    grid-template-columns: 1fr;
  }
}
#testimonials.section .testimonial-card-wrapper {
  position: relative;
  display: flex;
  max-height: 100%;
  padding: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}
#testimonials.section .testimonial-card-wrapper .arrow-container {
  position: absolute;
  top: 1em;
  right: 1em;
  display: flex;
  flex-direction: row;
}
#testimonials.section .testimonial-card-wrapper .arrow-container * {
  box-sizing: border-box;
}
#testimonials.section .testimonial-card-wrapper .left-arrow,
#testimonials.section .testimonial-card-wrapper .right-arrow {
  border-radius: 80px;
  background-color: #e7e8f4;
  transition: background-color 350ms ease;
  cursor: pointer;
}
#testimonials.section .testimonial-card-wrapper .left-arrow img,
#testimonials.section .testimonial-card-wrapper .right-arrow img {
  width: 42px;
  height: 42px;
  padding: 10px;
  border-radius: 80px;
  vertical-align: middle;
}
#testimonials.section .testimonial-card-wrapper .left-arrow:hover,
#testimonials.section .testimonial-card-wrapper .right-arrow:hover {
  background-color: #80cbc4;
}
#testimonials.section .testimonial-card-wrapper .left-arrow:hover img,
#testimonials.section .testimonial-card-wrapper .right-arrow:hover img {
  filter: invert(1);
}
#testimonials.section .testimonial-slider {
  height: auto;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(16, 20, 68, 0.02), 0 6px 5px 0 rgba(16, 20, 68, 0.03), 0 12px 10px 0 rgba(16, 20, 68, 0.03), 0 22px 17px 0 rgba(16, 20, 68, 0.04), 0 41px 33px 0 rgba(16, 20, 68, 0.05), 0 100px 80px 0 rgba(16, 20, 68, 0.07);
}
#testimonials.section .testimonial-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  padding-bottom: 24px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e7e8f4;
}
#testimonials.section .testimonial-role {
  color: rgba(120, 121, 143, 0.6);
  line-height: 20px;
}
@media screen and (max-width: 991px) {
  #testimonials.section .section.testimonial {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  #testimonials.section .grid-testimonial {
    grid-column-gap: 40px;
  }
  #testimonials.section .testimonial-card-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
  #testimonials.section .testimonial-details {
    margin-bottom: 8px;
  }
  #testimonials.section .testimonial-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  #testimonials.section .left-arrow {
    right: 80px;
  }
}
@media screen and (max-width: 767px) {
  #testimonials.section .grid-testimonial {
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  #testimonials.section .testimonial-image {
    width: 80%;
    margin-top: 0px;
  }
  #testimonials.section .paragraph-testimonial {
    font-size: 18px;
  }
}
@media screen and (max-width: 479px) {
  #testimonials.section .testimonial-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  #testimonials.section .testimonial-avatar {
    margin-right: 0px;
    margin-bottom: 24px;
  }
}

.app-store {
  display: flex;
  border-radius: 10px;
  margin-top: 0.5em;
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: background-color 250ms ease-in-out;
}
.app-store:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.app-store .app-store-img img {
  height: 5em;
  padding: 0.5em;
  margin-right: 0.5em;
  max-height: 75px;
}
.app-store .app-store-content,
.app-store .app-store-trailing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.app-store .app-store-content *,
.app-store .app-store-trailing * {
  margin: 0;
}
.app-store .app-store-content {
  flex-grow: 1;
}
.app-store .app-store-trailing {
  margin-left: 0.5em;
  padding: 0 1em;
  line-height: unset;
}

.downloads-store-links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.downloads-store-links-container.fixed-width a {
  width: 400px;
}
.downloads-store-links-container a {
  max-width: 350px;
  margin: 0.25em;
  transition: transform 250ms ease-in-out;
}
.downloads-store-links-container a:hover {
  transform: translateY(-0.25em);
}

.header .nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  margin: 0;
  padding: 29px 20px 32px 20px;
  color: #78798f;
}
.header .nav-link:hover {
  color: #80cbc4;
}
.header .header-dropdown-toggle {
  display: flex;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  transition: color 350ms ease;
  color: #78798f;
}
.header .header-dropdown-toggle:hover {
  color: #80cbc4;
}
@media screen and (max-width: 991px) {
  .header .nav-link {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e7e8f4;
  }
  .header .nav-link:hover {
    display: block;
    background-color: #f6f6ff;
  }
}

.section.socials,
.section.alternative {
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.21);
}

.section.alternative,
.section.donator {
  padding-top: 4em;
  padding-bottom: 4em;
}

.section.not-found {
  padding-bottom: 0;
  background-color: rgba(0, 0, 0, 0.21);
}

.donation-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
}

.powered-by-card,
.donation-card {
  padding: 0.25em;
  width: 24%;
  min-width: 250px;
}
@media screen and (max-width: 1048px) {
  .powered-by-card,
.donation-card {
    width: 33%;
  }
}
@media screen and (max-width: 800px) {
  .powered-by-card,
.donation-card {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .powered-by-card,
.donation-card {
    width: 100%;
  }
}
.powered-by-card .card,
.donation-card .card {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 0.5em;
  text-decoration: none;
  color: lightgray;
  transition: transform 350ms ease;
}
.powered-by-card .card:hover,
.donation-card .card:hover {
  transform: translate(0px, -5px);
}
.powered-by-card .card img,
.donation-card .card img {
  width: 3em;
  margin-right: 0.5em;
  border-radius: 0.25em;
}
.powered-by-card .card .card-social,
.donation-card .card .card-social {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: calc(100% - 3.5em);
}
.powered-by-card .card .card-social .card-social-title,
.donation-card .card .card-social .card-social-title {
  max-width: 100%;
}
.powered-by-card .card .card-social .card-social-sub,
.donation-card .card .card-social .card-social-sub {
  font-size: small;
  max-width: 100%;
}

[class^=parallax-],
[class*=" parallax-"] {
  z-index: 1000;
}

.background-parallax-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: background-parallax-img-anim;
  animation-duration: 25s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  overflow: hidden;
  will-change: transform;
  pointer-events: none;
}
.background-parallax-img .content {
  position: relative;
  animation-name: background-parallax-content-anim;
  animation-duration: 50s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  will-change: transform;
}
.background-parallax-img .content img {
  position: absolute;
  top: 3em;
  left: 2em;
  height: 100vh;
  animation-name: background-parallax-img-content-anim;
  animation-duration: 35s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  z-index: 0;
  will-change: transform;
}

@keyframes background-parallax-img-anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(75px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes background-parallax-content-anim {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes background-parallax-img-content-anim {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(115px);
  }
  100% {
    transform: translateX(0);
  }
}
.section.hero {
  position: relative;
  overflow: hidden;
}
.section.hero .background-container-ship #ship1,
.section.hero .background-container-ship #ship2,
.section.hero .background-container-ship #ship3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 5vw;
  height: 5vw;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 0;
  opacity: 0.3;
  will-change: transform;
}
.section.hero .background-container-ship #ship1 {
  top: 25vh;
  animation-name: background-ship1-anim;
  animation-duration: 12s;
}
.section.hero .background-container-ship #ship2 {
  top: 25vh;
  left: 90vw;
  animation-name: background-ship2-anim;
  animation-duration: 25s;
}
.section.hero .background-container-ship #ship3 {
  left: 25vw;
  animation-name: background-ship3-anim;
  animation-duration: 35s;
}

@keyframes background-ship1-anim {
  0% {
    transform: rotate(-100deg) translateY(100vw);
  }
  75% {
    transform: rotate(-100deg) translateY(-10vw);
  }
  100% {
    transform: rotate(-100deg) translateY(-10vw);
  }
}
@keyframes background-ship2-anim {
  0% {
    transform: rotate(75deg) translateY(100vw);
  }
  60% {
    transform: rotate(75deg) translateY(-50vw);
  }
  100% {
    transform: rotate(75deg) translateY(-50vw);
  }
}
@keyframes background-ship3-anim {
  0% {
    transform: rotate(-55deg) translateY(100vw);
  }
  100% {
    transform: rotate(-55deg) translateY(-50vw);
  }
}
.parallax-sentinalBlue {
  position: fixed;
  top: 60vh;
  left: 100vw;
  height: 25vh;
}

.parallax-book {
  position: fixed;
  top: 3em;
  left: 0;
  width: 25vh;
}

.card-feature {
  color: #2b2f4b;
  margin-bottom: 80px;
  border-style: solid;
  border-width: 1px;
  border-color: #d4d5e3;
  border-radius: 32px;
  box-shadow: 0 5px 2px 0 rgba(67, 75, 235, 0.04), 0 10px 5px 0 rgba(67, 75, 235, 0.01), 0 16px 10px 0 rgba(67, 75, 235, 0.02), 0 24px 17px 0 rgba(67, 75, 235, 0.04), 0 40px 33px 0 rgba(67, 75, 235, 0.05), 0 90px 60px 0 rgba(67, 75, 235, 0.04);
}
.card-feature .left-block-card-feature {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.card-feature.top {
  margin-top: 152px;
  padding-bottom: 0px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(46%, #7986cb), color-stop(0, #fff));
  background-image: linear-gradient(90deg, #7986cb 46%, #fff 0);
}
.card-feature.top.third {
  margin-top: 200px;
}
.card-feature.bottom {
  margin-top: 194px;
  margin-bottom: 120px;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(44%, #7986cb), color-stop(0, #fff));
  background-image: linear-gradient(270deg, #7986cb 44%, #fff 0);
}

@media screen and (max-width: 1000px) {
  .basic-grid {
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .basic-grid .grid-hero-right-block {
    display: none;
  }
  .section.hero {
    width: 100vw;
    margin: 0 auto;
  }
  #landing-hero .store-links-container {
    padding-right: 0;
  }
  .section.socials .basic-grid.grid-logos {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-feature.top.third {
    margin-top: 2em;
  }
  .card-feature.top, .card-feature.bottom {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: white;
    background-image: none;
    border-radius: 32px;
  }
  .card-feature.top .feature-image,
.card-feature.top .feature-image img,
.card-feature.top .feature-image-1,
.card-feature.top .feature-image-1 img, .card-feature.bottom .feature-image,
.card-feature.bottom .feature-image img,
.card-feature.bottom .feature-image-1,
.card-feature.bottom .feature-image-1 img {
    height: 50vh;
    position: relative;
    padding: 1em;
    left: 50%;
    transform: translate(-50%, -0.5em) !important;
  }
  .card-feature.top .right-block-card-feature.bottom, .card-feature.bottom .right-block-card-feature.bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }
}
@media screen and (max-width: 720px) {
  #landing-hero .store-links-container {
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
  }
  #landing-hero .store-links-container .button-primary {
    justify-content: center;
  }
}
img,
br,
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

@media screen and (min-width: 1000px) {
  .hidden-in-desktop {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .hidden-in-mobile {
    display: none !important;
  }
}

.mt-2 {
  margin-top: 2em;
}

.ta-center {
  text-align: center;
}

.max-1-line {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.max-w-500px {
  max-width: 500px;
}

.drop-shadow {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.drop-shadow-inv {
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.5));
}

::selection {
  background: #2c3670;
  color: white;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #2c3670;
  color: white;
  /* Gecko Browsers */
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #80cbc4;
}
@media screen and (max-width: 800px) {
  *::-webkit-scrollbar {
    width: 5px;
  }
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(59, 59, 59);
  margin-top: -3px;
  margin-bottom: -3px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #80cbc4;
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 75%, transparent);
}

:root {
  --assistantapps-font-family: $defaultFont;
  --assistantapps-font-weight: 100;
  --assistantapps-team-member-link-text-colour: #80cbc4;
}

html,
body {
  height: unset !important;
  overflow: unset !important;
  font-family: "Poppins", sans-serif !important;
  background-color: #2b2f4b;
  color: #d0d0d0;
  scroll-behavior: smooth;
}
html .header,
body .header {
  background-color: #22253b;
  z-index: 2;
}

.footer-column {
  max-width: 33%;
}

/*# sourceMappingURL=main.css.map */
