<!DOCTYPE HTML>
<html lang="en">

{{> components/documentHead documentTitle="Friend Code Error"}}

<body id="app-body">
    <div class="page-wrapper">

        {{> components/header showHome="true"}}

        <section class="section not-found">
            <div class="container-1180px ta-center">
                <h2 class="ta-center noselect">Friend Code Error</h2>
                <div class="container-600px ta-center noselect">
                    <h3 style="font-weight: 100;">
                        Something went wrong when adding your Friend Code!
                    </h3>
                </div>
                <br />
                <p>
                    Errors are tracked, we are probably working of fixing this issue already. If you continue
                    receiving an error when adding a Friend Code, please contact us on our <a
                        href="{{assistantApps.discord}}">Discord</a> or send us an
                    email at <a href="{{meta.mailto}}">support@nmsassistant.com</a>
                </p>

                <img src="/assets/img/friendCodeError.gif" alt="Friend Code Error" />
            </div>
        </section>

        {{> components/footer}}

    </div>
</body>

{{> components/scripts}}

</html>