<!DOCTYPE HTML>
<html lang="en">

{{> components/documentHead}}

<body id="app-body" class="is-loading">
    <div class="page-wrapper">

        {{> components/header}}


        {{> components/footer}}

    </div>
    <img data-0="transform:rotate(0deg);left:100vw;" data-500="transform:rotate(-10deg);left:90vw;"
        data-2000="transform:rotate(-10deg);left:90vw;" data-2500="transform:rotate(0deg);left:100vw;"
        src="./assets/img/sentinalBlue.png" class="parallax-sentinalBlue hidden-in-mobile" alt="image with parallax" />

</body>
<script async defer src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<script async defer src="https://assistantapps.github.io/WebComponents/build/bundle.js"></script>
<script async defer src="./assets/js/skrollr.min.js"></script>
<script async defer src="./assets/js/testimonials.js"></script>
<script async defer src="./assets/js/custom.js"></script>

</html>

</html>