<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Set-Cookie" value="cross-site-cookie=name; SameSite=None; Secure" />
                <add name="X-Clacks-Overhead" value="GNU Eddison the Magic Doggo" />
                <add name="Clacks-Overhead" value="GNU Eddison the Magic Doggo" />
                <add name="X-Powered-by" value="Magic &amp; the Distraction Squad" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="Redirect to https" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAny">
                        <!-- <add input="{HTTP_HOST}" pattern="^nmsassistant\.com$" negate="true" /> -->
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://nmsassistant.com/{R:1}" redirectType="Found" />
                </rule>

                <rule name="RedirectToDiscord" stopProcessing="true">
                    <match url="^(.*)Discord(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://discord.gg/q3aFBQM?ref=assistantNMS" appendQueryString="false"
                        redirectType="Permanent" />
                </rule>
                <rule name="RedirectToDiscordBot" stopProcessing="true">
                    <match url="^(.*)DiscordBot(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://discord.com/api/oauth2/authorize?client_id=640818571164778496&permissions=2147762240&scope=bot%20applications.commands&amp;ref=assistantNMS" appendQueryString="false"
                        redirectType="Permanent" />
                </rule>
                <rule name="RedirectToGithub" stopProcessing="true">
                    <match url="^(.*)Github(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://github.com/AssistantNms?ref=assistantNMS" appendQueryString="false"
                        redirectType="Permanent" />
                </rule>
                <rule name="RedirectToKurt" stopProcessing="true">
                    <match url="^(.*)Kurt(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://kurtlourens.com?ref=assistantNMS" appendQueryString="false"
                        redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>