.card-feature {
    color: $background;
    margin-bottom: 80px;
    border-style: solid;
    border-width: 1px;
    border-color: #d4d5e3;
    border-radius: 32px;
    box-shadow: 0 5px 2px 0 rgba(67, 75, 235, 0.04), 0 10px 5px 0 rgba(67, 75, 235, 0.01),
        0 16px 10px 0 rgba(67, 75, 235, 0.02), 0 24px 17px 0 rgba(67, 75, 235, 0.04),
        0 40px 33px 0 rgba(67, 75, 235, 0.05), 0 90px 60px 0 rgba(67, 75, 235, 0.04);

    .left-block-card-feature {
        -ms-grid-column-align: center;
        justify-self: center;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    &.top {
        margin-top: 152px;
        padding-bottom: 0px;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(46%, $primary), color-stop(0, #fff));
        background-image: linear-gradient(90deg, $primary 46%, #fff 0);

        &.third {
            margin-top: 200px;
        }
    }

    &.bottom {
        margin-top: 194px;
        margin-bottom: 120px;
        background-image: -webkit-gradient(linear, right top, left top, color-stop(44%, $primary), color-stop(0, #fff));
        background-image: linear-gradient(270deg, $primary 44%, #fff 0);
    }
}
