footer.footer {
    .container {
        display: flex;
        flex-wrap: wrap;

        .col {
            flex-grow: 1;
            padding: 0 2em;

            h4.pl {
                padding-left: 0.25em;
            }

            a {
                text-decoration: none;
            }

            &.powered-by {
                max-width: 80vw;
                margin: 0 auto;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .container {
            .col {
                padding: 0 1em;
                &.powered-by {
                    margin-bottom: 2em;
                }
            }
        }
    }

    @media screen and (max-width: 700px) {
        .container {
            display: block;

            .col {
                &.powered-by {
                    max-width: 520px;
                    margin-bottom: unset;
                    overflow: hidden;
                }
            }

            h4,
            a {
                text-align: center;
            }
        }
    }

    .powered-by-card {
        // see donation.scss for base style
        width: unset;
    }
}
