@media screen and (max-width: 1000px) {
    .basic-grid {
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;

        .grid-hero-right-block {
            display: none;
        }
    }

    .section.hero {
        width: 100vw;
        margin: 0 auto;
    }

    #landing-hero .store-links-container {
        padding-right: 0;
    }

    .section.socials {
        .basic-grid.grid-logos {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .card-feature {
        &.top.third {
            margin-top: 2em;
        }

        &.top,
        &.bottom {
            margin-top: 2em;
            margin-bottom: 2em;
            background-color: white;
            background-image: none;
            border-radius: 32px;

            .feature-image,
            .feature-image img {
                height: 50vh;
                position: relative;
                padding: 1em;
                left: 50%;
                transform: translate(-50%, -0.5em) !important;
            }

            .right-block-card-feature.bottom {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: 32px;
                border-bottom-right-radius: 32px;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    #landing-hero .store-links-container {
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;

        .button-primary {
            justify-content: center;
        }
    }

    .section.hero {
        max-width: calc(100vw - 2em);
    }
}
