.section.socials,
.section.patreon {
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.21);
}

.section.patreon,
.section.donator {
    padding-top: 4em;
    padding-bottom: 4em;
}

.section.not-found {
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.21);
}
