@import "variables";
@import "loading";
@import "button";
@import "hero";
@import "feature";
@import "footer";
@import "navbar";
@import "testimonial";
@import "header";
@import "section";
@import "donation";
@import "parallax";
@import "card";
@import "mobile";
@import "base";

html,
body {
    height: unset !important;
    overflow: unset !important;
    font-family: "Poppins", sans-serif;
    background-color: $background;
    color: $text-color;
    scroll-behavior: smooth;

    .header {
        background-color: darken($background, 5%);
        z-index: 2;
    }
}

.footer-column {
    max-width: 33%;
}
