.card-feature {
    color: $background;
    .left-block-card-feature {
        -ms-grid-column-align: center;
        justify-self: center;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
}
