<div class="header">
    <div class="container-nav noselect">
        <div class="header-left-side">
            <a href="/" class="navbar-logo hidden-in-desktop">
                <img src="/assets/favicon/apple-touch-icon-76x76.png" alt="AssistantNMS - Logo"
                    class="hidden-in-mobile">
                <h4>Assistant for No Man's Sky</h4>
            </a>
            <nav role="navigation" class="nav-menu w-nav-menu hidden-in-mobile">
                <div class="header-dropdown w-dropdown">
                    <div class="header-dropdown-toggle w-dropdown-toggle">
                        <div class="dropdown-text">Pages&nbsp;<span class="dropdown-icon"></span></div>
                    </div>
                    <nav class="dropdown-list w-dropdown-list">
                        <div class="mega-menu-container">
                            <div class="basic-grid mega-menu-grid">
                                <h4 class="mega-menu-title">Pages</h4>
                                <div class="menu-2-columns">
                                    <div class="mega-menu-column-4"><a href="/" aria-current="page"
                                            class="mega-menu-link w--current" tabindex="0">Home v1</a>
                                        <a href="/home-v2" class="mega-menu-link" tabindex="0">Home
                                            v2</a>
                                        <a href="/blog" class="mega-menu-link" tabindex="0">Blog</a>
                                        <a href="/pricing" class="mega-menu-link" tabindex="0">Pricing</a>
                                        <a href="/contact-us" class="mega-menu-link-2" tabindex="0">Contact</a>
                                    </div>
                                    <div class="mega-menu-column-2"><a href="/about-us" class="mega-menu-link"
                                            tabindex="0">About Us</a>
                                        <a href="/careers" class="mega-menu-link" tabindex="0">Careers</a>
                                        <a href="/job/ios-ui-ux-designer" class="mega-menu-link" tabindex="0">Job
                                            Post</a>
                                        <a href="/reviews" class="mega-menu-link" tabindex="0">Reviews</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <a href="/ThankYou.html" class="nav-link w-nav-link">Thank You</a>
                <a href="https://nmsassistant.freshdesk.com/" class="nav-link w-nav-link" target="_blank"
                    rel="noopener noreferrer">Support</a>
            </nav>
        </div>
        <div class="header-right-side hidden-in-mobile">
            <div class="nav-button">
                <a href="/#download" class="button-secondary">
                    <img src="/assets/img/download.png" alt="AssistantNMS - Logo" class="mg-right-8px">
                    <div class="button-text">Download</div>
                </a>
            </div>
        </div>
        <nav class="navbar-mobile hidden-in-desktop">
        </nav>
    </div>
</div>